*{
    margin: 0; padding: 0;
}

.heading, .footer{
    background-color: #c0c0c0d7;
}
.heading h1{
    font-family: sans-serif;
    padding: 15px 0 15px;
    color: #0a0a0a;
    text-align: center;
}

.main{
    position: absolute;
    /* margin: 0 100px 0; */
    /* display: block; */
    /* margin: 50px 100px 50px 100px; */
    
    /* background-image: url("https://cdn.wallpapersafari.com/69/65/Xofvt9.jpg"); */
    background-repeat: no-repeat;
    height: 92.3vh;
    width: 100%;
}

.form{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* max-width: 500px; */
    background-color: #f1c6f1;
    padding: 20px 0 20px 0;
    margin: 50px auto 50px;
    max-width: 600px;
}

.form-group{
    margin: 10px;
    font-size: 20px;
    max-width: fit-content;
    font-family: sans-serif;
}

.form-group label{
    font-weight: 600;
    display: block;
    text-align: center;
}

.form-group input, select{
    width: 250px;
    height: 30px;
    font-size: 18px;
    border: none;
}

.form-group input:focus{
    border: none;
}

.button-group{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.button-group button{
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 15px;
}

.button-group #submit{
    background-color: #24d624de;
}

.button-group #reset{
    background-color: #4a87e4;
}

#hiddenform{
    position: absolute;
    display: none;
    top: 70%;
    left: 40%;
    font-family: sans-serif;
    padding: 0 0 5px 0;
    /* z-index: 999;
    background-color: #f1c6f1;
    padding: 10px 0 10px 0;
    margin: 200px auto 200px; */
    /* max-width: 600px; */
}

#hiddenform p,span{
    font-size: 20px;
}

.footer{
   position: absolute;
   bottom: 0;
   width: 100vw;
   padding: 10px 0 10px 0;
   text-align: center;
   font-family: sans-serif;
}